<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}"/>

  <link rel="shortcut icon" href="/images/inf.png"/>
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml"/>
  <link rel="stylesheet" type="text/css" href="/css/screen.css">
    <!--[if lte IE 6]>
  <style type="text/css">
    #border {display:none;}
    body {border-left:0.5em solid #c8d85c;}
  </style>
  <![endif]-->
<meta http-equiv="x-dns-prefetch-control" content="off"/></head>
<body>

{% include nav.html %}

{{ content }}

<div id="footer">
  <div id="pagination">
    <p class="forward">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/index.html" title="Previous Page">&laquo; Previous</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
        {% endif %}
      {% endif %}
    </p>
    <p class="back">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
      {% endif %}
    </p>
  </div>
  {% include cc.html %}
</div>


</body>
</html>